fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
python-jose[cryptography]
passlib
bcrypt==4.0.1
pydantic-settings
pydantic[email]
scikit-learn
pandas
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
sentence-transformers
httpx
python-multipart