fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
pydantic[email]
scikit-learn
pandas
sentence-transformers
httpx
python-multipart